{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}
    
    <div class="login-form">
        <h1 class='registration' >{% trans "Log in" %}</h1>
        <form action="{% url 'shop:login' %}" method="post">
            {% if form.errors %}
                <div class='color_red'>{% trans "The username or password is incorrect. Try again. " %}</div>
            {% endif %}
            <div class="form-floating">
                <input id="id_username" class='login_input form-control shadow-none register_input margin_tb' type="text" name="username"  required>
                <label for="id_username">{% trans 'Username' %}</label>
            </div>
            <div class="form-floating">
                <input id="id_password" class='login_input form-control shadow-none register_input margin_tb' type="password" name="password" required>
                <label for="id_password">{% trans 'Password' %}</label>
            </div>
            {% csrf_token %}
            <div class='bar_login'>
                <a class='registration' href="{% url 'shop:password_reset' %}">{% trans "Forgot password" %}</a>
                <input type="hidden" name="next" value="{{ next }}">
                <button type='submit' class="button login_input button_registration" id='login_button'><p class='button_margin'>{% trans "LOGIN" %}</p></button>    
            </div>    
        </form>
        <div class="align_i_c display_f">
            <hr class="width_100">
            <p id='hr_or'>{% trans "or" %}</p>
            <hr class="width_100">
        </div>
        <div class="display_f justify_c_s_b">
            <button class="btn btn-primary width_49 height_3r">
                <a href="{% url 'social:begin' 'facebook' %}" class='button_white'>{% trans "Login with Facebook" %}</a>
            </button>
            {% comment %} <button class="btn btn-danger width_49 height_3r">
                <a href="{% provider_login_url 'google' %}" class='button_white'>{% trans "Login with Google" %}</a>
            </button> {% endcomment %}
        </div>
    </div>
    <div class="login-form">
        <p class='float_l'>{% trans "Don't have an account" %}?</p>
        <a class="registration float_l margin_l" href="{% url 'shop:register' %}">{% trans "SIGN UP" %}</a>
    </div>
{% endblock content %}